Bookmark Manager

<form action='/bookmarks' method='post'>
  <label for="url">Type URL here</label>
  <input type="text" name="url">
  <label for="title">Type page title here</label>
  <input type="text" name="title">
  <button type='submit'>Submit bookmark</button>
</form>


  <% @bookmarks.each do |bookmark| %>
      <a href="<%= bookmark.url %>"><%= bookmark.title %></a>
  <% end %>
