Bookmark Manager

<form action='/bookmarks' method='post'>
  <label for="url">Type URL here</label>
  <input type="text" name="url">
  <label for="title">Type page title here</label>
  <input type="text" name="title">
  <button type='submit'>Submit bookmark</button>
</form>

<form action='/delete_bookmark' method='post'>
  <label for="title">Type page title to delete here</label>
  <input type="text" name="del_title">
  <button type='submit'>Delete bookmark</button>
</form>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
    <a href="<%= bookmark.url %>"><%= bookmark.title %></a>
    </li>
  <% end %>
</ul>
